
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 1000px;
    margin: 20px auto;
}

.card img {
    width: 70%;
    height: 145px;
}

.card-text {
    color: red;
}

a {
    margin: 20px 0;
}